## BOARD PINS
[board_pins shtxx]
mcu: ShyFLY
aliases:
aliases_step:
    EXT_EN=PA15,EXT_STEP=PB4,EXT_DIR=PB3,EXT_UART=PB5
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PA0,LIMIT_2=PA1,LIMIT_3=PA2
aliases_bltouch: # these are the dupont connectors for bltouch - THESE PORTS ARE NOT SUITABLE FOR KLICKY AND DO NOT SUPPPLY 24V so OMRON STYLE INDUCTIVE PROBES MAY NOT BE IDEALLY SUITED (They work fantastic for Pinda/BlTouch style probes)
    PROBE_1=PC15,PROBE_2=PB1
aliases_fans:
    FAN0=PB10,FAN1=PB11
aliases_thermistors:
    TH0=PB0,PT100=PA3
aliases_heaters:
    HE0=PA8
aliases_rgb:
    RGBLED=PB15
aliases_adxl:
    ADXL=PA4
aliases_aux:
    AUX0=PB2


## ShyFLY
[temperature_sensor FLY-SHT]
sensor_type: temperature_mcu
sensor_mcu: ShyFLY

## ADXL345
[adxl345]
cs_pin: ShyFLY:ADXL
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20  # an example for a 350mm printer

## RGB
#[neopixel my_neopixel]
#pin: ShyFLY:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
